# ─── Python Backend ───────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
*.log
venv/

# ─── Node Frontend ────────────────────────────
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/dist/
frontend/client/node_modules/


# ─── Appwrite (Docker) ────────────────────────
docker/appwrite/appwrite/.env
docker/appwrite/appwrite/storage/
docker/appwrite/appwrite/uploads/

# ─── System Files ─────────────────────────────
.DS_Store
Thumbs.db

# ─── VS Code ──────────────────────────────────
.vscode/

# ─── Logs and Temp ────────────────────────────
*.log
*.tmp
*.swp
